{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
    blog
{% endblock %}
{% block myjs %}
    <script src="{% static 'js/jquery.min.js' %}" type="text/javascript"></script>
{% endblock %}
{% block mycss %}
<style>
    .r_box li{ height: 27%; background-color: #efefef}
.cloud1 ul a { font-size: 25px; border-radius: 50px; -moz-transition: all 0.5s; -webkit-transition: all 0.5s; -o-transition: all 0.5s; transition: all 0.5s; color: #FFF }
.cloud1 ul a:nth-child(8n-7) { background: #8A9B0F }
.cloud1 ul a:nth-child(8n-6) { background: #EB6841 }
.cloud1 ul a:nth-child(8n-5) { background: #3FB8AF }
.cloud1 ul a:nth-child(8n-4) { background: #FE4365 }
.cloud1 ul a:nth-child(8n-3) { background: #FC9D9A }
.cloud1 ul a:nth-child(8n-2) { background: #EDC951 }
.cloud1 ul a:nth-child(8n-1) { background: #C8C8A9 }
.cloud1 ul a:nth-child(8n) { background: #83AF9B }
.cloud1 ul a:first-child { background: #036564 }
.cloud1 ul a:last-child { background: #3299BB }
</style>
{% endblock %}


{% block content %}

<article>
    <div class="cloud1">
        <ul>
        <h2 style="font-size: 30px;color: #1da7ee;font-weight:normal">分类：</h2>
        {% for tag in tags %}
         <a href="{% url 'article:list' %}?tid={{ tag.id }}&page=1">{{ tag.name }}</a>
          {% endfor %}
        </ul>
</div>
  <div class="r_box" style="float: none;width: 90%;">
{#  通过遍历过去页码对应的文章#}
    {% for article in page.object_list %}
    <li style="background-color:rgba(255,255,255,0.7);"><i><a href="{% url 'article:detail' %}?id={{ article.id }}"><img src="{{ MEDIA_URL }}{{ article.image }}"></a></i>
      <h3 style="font-size: 30px;font-weight:normal"><a href="{% url 'article:detail' %}?id={{ article.id }}">{{ article.title }}</a></h3>
      <p style="height: 150px">{{ article.desc }}</p>
    {#        使用过滤器对日期进行格式化#}
    <p>{{ article.date | date:'Y-m-d H:m:s' }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        点击量：{{ article.click_num}}</p>
    </li>
          {% endfor %}
    <div class="pagelist" style="color: #FF8151">
{#        获取所有的页码数#}
        <a class="allpage"><b>共{{ page.paginator.num_pages }}页</b></a>&nbsp;&nbsp;
{#        如果有下一页，就取出下一页的值，否则就显示第一页#}
        <a href="{% url 'article:list' %}?page={% if page.has_previous %}{{ page.previous_page_number }}{% else %}1{% endif %}" onclick=""><</a>
{#            遍历页码范围#}
            {% for page_number in  page.paginator.page_range %}
{#                如果用户点击的在页码范围内#}
            {% if page.number == page_number %}
                <b>{{ page_number }}</b>
            {% else %}
                <a href="{% url 'article:list' %}?page={{ page_number }}&tid={{ tid }}" class="curPage">{{page_number}}</a>&nbsp;&nbsp;
            {% endif %}
        {% endfor %}
    {#        如果有下一页，就取出下一页的值，否则就显示最后一页#}
        <a href="{% url 'article:list' %}?page={% if page.has_next %}{{ page.next_page_number }}{% else %}{{ page.paginator.num_pages }}{% endif %}" >  > </a>
    </div>
  </div>
</article>

<a href="#" class="cd-top">Top</a>
{% endblock %}
