{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
        个人中心
    {% endblock %}
    {% block mycss %}
        <style>
    html{
    height: 100%;
}
body{
    background: url('{% static 'images/bg.jpg' %}') no-repeat center/cover;
}
.form{
    width: 500px;
    height: 600px;
    margin: 30px auto;
}
.form_register,.form_login{
    width: 500px;
    line-height: 20px;
    background-color:rgba(0, 188, 212, 0.7);
    border-radius: 5px;
    box-shadow: 0 0 3px #ccc;
    overflow: hidden;
    transition: height 1s;
}
.form_register{
    height: 600px;
}

.form form{
   padding: 25px 40px;
}
.form .form_item{
    display: flex;
    margin: 25px 0;
    vertical-align: middle;
}
.form input{
    outline: none;
    text-indent: 10px;
    flex: 1;
    width: auto;
    border: none;
    border-radius: 3px;
    height: 36px;
}
.form form label{
    width: 90px;
    float: left;
    line-height: 36px;
}
h1{
    text-align: center;
    padding: 0;;
    margin: 30px 0 30px 0;
}
.form form input[type='submit']{
    background-color: rgba(244, 22, 7, 0.7);
    color: aliceblue;
    height: 45px;
    font-size: 20px;
    cursor:pointer;
    margin-top: 20px;
}
.form .info{
    text-align: center;
    font-size: 14px;
    margin-bottom: 20px;
}
.form .info span{
    color: crimson;
    margin-left: 3px;
}
.form .info span:hover{
    cursor: pointer;
    border-bottom: 1px solid crimson;

}
    #icon {
            width: 80px;
            height: 80px;
            border: #4bcfef;
            border-radius: 40px;
        }


</style>
    {% endblock %}

{% block content %}
    <div class="form" style="position:relative">

		<!--注册表单-->
        <div class="form_register" style="position:absolute">
            <form action="#" method="post" enctype="multipart/form-data">{% csrf_token %}
                <h1>个人中心</h1>
                <p style="color: #FF8151">{{ msg }}</p>
                <div class="form_item">
                    <label for="username">用户名：</label>
                    <input type="text" name="username" id="username" value="{{ user.username }}" placeholder="请输入用户名" required >
                </div>
                <div class="form_item">
                    <label for="email">电子邮箱：</label>
                    <input type="email" name="email" id="email" value="{{ user.email}}" placeholder="请输入电子邮件" required>
                </div>
                <div class="form_item">
                    <label for="tel">电话：</label>
                    <input type="tel" name="tel" id="tel" value="{{ user.tel }}" placeholder="请输入手机号码" required>
                </div>
                <img src="{{ MEDIA_URL }}{{ user.icon }}" alt="" id="icon">
                    <input type="file" name="icon">
                <div class="form_item">
                    <input type="submit" value="更新信息">
                </div>
            </form>
        </div>

    </div>
{% endblock %}
